%h2 Templates
= button_to "Create Post Template", new_post_template_path, :class => "btn btn-lg btn-default", :method => :get

%ul
- @templates.each do |template|
  %li= link_to template.title, template
